<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>footercontactinfo</name>
	<displayName><![CDATA[Dane kontaktowe w stopce]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Wyświetla i edytuje dane kontaktowe w stopce]]></description>
	<author><![CDATA[Maciej Figlarz]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
