.blockcart {
  background: none;
  box-shadow: 0;
  .cart {
    position: relative;
    .counter {
      background: none;
      background: white;
      position: absolute;
      top: 0;
      right: 0;
      font-size: 0.3rem;
      padding: 2px;
      border-radius: 50%;
      
    }
  }
}
